In [4]:
"""
SQL Agent with Dedicated Tools using create_agent
Using employees.db database with create_agent approach
"""

import re

# Core imports
from langchain_ollama import ChatOllama
from langchain_community.utilities import SQLDatabase
from langchain_core.tools import tool
from langchain_core.messages import SystemMessage
from langchain.agents import create_agent

from dotenv import load_dotenv
load_dotenv()

# ============================================================================
# STEP 1: DATABASE SETUP
# ============================================================================
print("Setting up employees database...")


# Connect to employees database
db = SQLDatabase.from_uri("sqlite:///db/employees.db")

# Check connection and get basic info
try:
    # Test connection by getting table names
    tables = db.get_usable_table_names()
    print(f"‚úì Database connected successfully")
    print(f"‚úì Found {len(tables)} tables: {', '.join(tables)}")
    
except Exception as e:
    print(f"‚úó Database connection failed: {e}")

# Get schema information
SCHEMA = db.get_table_info()
# print("\nDatabase Schema:", SCHEMA)
print("‚úì Connected to employees database")

# ============================================================================
# STEP 2: MODELS SETUP
# ============================================================================
# Using ChatOllama
llm = ChatOllama(
    model="qwen3", 
    base_url="http://localhost:11434",
    temperature=0
)

print("‚úì Initialized Ollama chat model")

# ============================================================================
# STEP 3: SQL TOOLS - One for each step
# ============================================================================

@tool
def get_database_schema(table_name: str = None) -> str:
    """Get database schema information for SQL query generation.
    Use this first to understand table structure before creating queries."""
    print(f"üîç Getting schema for: {table_name if table_name else 'all tables'}")
    
    if table_name:
        try:
            # Get specific table info
            tables = db.get_usable_table_names()
            if table_name.lower() in [t.lower() for t in tables]:
                result = db.get_table_info([table_name])
                print(f"‚úì Retrieved schema for table: {table_name}")
                return result
            else:
                return f"Error: Table '{table_name}' not found. Available tables: {', '.join(tables)}"
        except Exception as e:
            return f"Error getting table info: {e}"
    else:
        # Get all schema info
        print("‚úì Retrieved full database schema")
        return SCHEMA

@tool
def generate_sql_query(question: str, schema_info: str = None) -> str:
    """Generate a SQL SELECT query from a natural language question using database schema.
    Always use this after getting schema information."""
    print(f"üîß Generating SQL for: {question[:100]}...")
    
    # Use provided schema or get full schema
    schema_to_use = schema_info if schema_info else SCHEMA
    
    prompt = f"""
                Based on this database schema:
                {schema_to_use}

                Generate a SQL query to answer this question: {question}

                Rules:
                - Use only SELECT statements
                - Include only existing columns and tables
                - Add appropriate WHERE, GROUP BY, ORDER BY clauses as needed
                - Limit results to 10 rows unless specified otherwise
                - Use proper SQL syntax for SQLite

                Return only the SQL query, nothing else.
                """
    
    try:
        response = llm.invoke(prompt)
        query = response.content.strip()
        print(f"‚úì Generated SQL query")
        return query
    except Exception as e:
        return f"Error generating query: {e}"

@tool
def validate_sql_query(query: str) -> str:
    """Validate SQL query for safety and syntax before execution.
    Returns 'Valid: <query>' if safe or 'Error: <message>' if unsafe."""
    print(f"üîç Validating SQL: {query[:100]}...")
    
    # Safety checks
    query = query.strip()
    
    # Remove common SQL formatting
    clean_query = re.sub(r'```sql\s*', '', query, flags=re.IGNORECASE)
    clean_query = re.sub(r'```\s*', '', clean_query)
    clean_query = clean_query.strip()
    
    # Block multiple statements
    if clean_query.count(";") > 1 or (clean_query.endswith(";") and ";" in clean_query[:-1]):
        return "Error: Multiple statements not allowed"
    
    clean_query = clean_query.rstrip(";").strip()
    
    # Must be SELECT only
    if not clean_query.lower().startswith("select"):
        return "Error: Only SELECT statements allowed"
    
    # Block dangerous operations
    dangerous_patterns = [
        r'\b(INSERT|UPDATE|DELETE|ALTER|DROP|CREATE|REPLACE|TRUNCATE)\b',
        r'\b(EXEC|EXECUTE)\b',
        r'--',  # SQL comments
        r'/\*',  # Block comments
    ]
    
    for pattern in dangerous_patterns:
        if re.search(pattern, clean_query, re.IGNORECASE):
            return f"Error: Unsafe SQL pattern detected"
    
    # Basic syntax validation
    try:
        # Simple parsing check
        if clean_query.lower().count('select') != 1:
            return "Error: Multiple SELECT statements not allowed"
        
        # Check for balanced parentheses
        if clean_query.count('(') != clean_query.count(')'):
            return "Error: Unbalanced parentheses"
        
        print("‚úì Query validation passed")
        return f"Valid: {clean_query}"
        
    except Exception as e:
        return f"Error: Syntax validation failed: {e}"

@tool
def execute_sql_query(query: str) -> str:
    """Execute a validated SQL query and return results.
    Only use this after validating the query for safety."""
    print(f"üöÄ Executing SQL: {query[:100]}...")
    
    try:
        # Clean the query
        clean_query = query.strip()
        if clean_query.startswith("Valid: "):
            clean_query = clean_query[7:]  # Remove "Valid: " prefix
        
        clean_query = re.sub(r'```sql\s*', '', clean_query, flags=re.IGNORECASE)
        clean_query = re.sub(r'```\s*', '', clean_query)
        clean_query = clean_query.strip().rstrip(";")
        
        # Execute query
        result = db.run(clean_query)
        print("‚úì Query executed successfully")
        
        if result:
            return f"Query Results:\n{result}"
        else:
            return "Query executed successfully but returned no results."
            
    except Exception as e:
        error_msg = f"Execution Error: {str(e)}"
        print(f"‚úó {error_msg}")
        return error_msg

@tool
def fix_sql_error(original_query: str, error_message: str, question: str) -> str:
    """Fix a failed SQL query by analyzing the error and generating a corrected version.
    Use this when validation or execution fails."""
    print(f"üîß Fixing SQL error: {error_message[:100]}...")
    
    fix_prompt = f"""
                    The following SQL query failed:
                    Query: {original_query}
                    Error: {error_message}
                    Original Question: {question}

                    Database Schema:
                    {SCHEMA}

                    Analyze the error and provide a corrected SQL query that:
                    1. Fixes the specific error mentioned
                    2. Still answers the original question
                    3. Uses only valid table and column names from the schema
                    4. Follows SQLite syntax rules

                    Return only the corrected SQL query, nothing else.
                    """
    
    try:
        response = llm.invoke(fix_prompt)
        fixed_query = response.content.strip()
        print("‚úì Generated fixed SQL query")
        return fixed_query
    except Exception as e:
        return f"Error generating fix: {e}"

@tool
def analyze_query_results(question: str, query: str, results: str) -> str:
    """Convert SQL query results into a natural language answer.
    Use this as the final step to provide a user-friendly response."""
    print("üìä Analyzing results and generating answer...")
    
    analysis_prompt = f"""
Original Question: {question}
SQL Query Used: {query}
Query Results: {results}

Provide a clear, natural language answer to the original question based on the query results.
Be specific and include relevant numbers/data from the results.
If the results are empty or unclear, mention that as well.
"""
    
    try:
        response = llm.invoke(analysis_prompt)
        answer = response.content.strip()
        print("‚úì Generated natural language answer")
        return answer
    except Exception as e:
        return f"Error analyzing results: {e}"

print("‚úì Created all SQL workflow tools")

# ============================================================================
# STEP 4: SYSTEM PROMPT
# ============================================================================

SQL_SYSTEM_PROMPT = f"""You are an expert SQL analyst working with an employees database.

Database Schema:
{SCHEMA}

Your workflow for answering questions:
1. Use `get_database_schema` first to understand available tables and columns (if needed)
2. Use `generate_sql_query` to create SQL based on the question
3. Use `validate_sql_query` to check the query for safety and syntax
4. Use `execute_sql_query` to run the validated query
5. If there's an error, use `fix_sql_error` to correct it and try again (up to 3 times)
6. Use `analyze_query_results` to provide a natural language answer

Rules:
- Always follow the workflow step by step
- If a query fails, use the fix tool and try again
- Provide clear, informative answers
- Be precise with table and column names
- Handle errors gracefully and try to fix them
- If you fail after 3 attempts, explain what went wrong

Available tools for each step:
- get_database_schema: Get table structure info
- generate_sql_query: Create SQL from question
- validate_sql_query: Check query safety/syntax  
- execute_sql_query: Run the query
- fix_sql_error: Fix failed queries
- analyze_query_results: Generate natural language answer

Remember: Always validate queries before executing them for safety.
"""

# ============================================================================
# STEP 5: CREATE AGENT
# ============================================================================

# All tools for the agent
tools = [
    get_database_schema,
    generate_sql_query,
    validate_sql_query, 
    execute_sql_query,
    fix_sql_error,
    analyze_query_results
]

# Create the SQL agent using create_agent
sql_agent = create_agent(
    llm, 
    tools, 
    prompt=SystemMessage(content=SQL_SYSTEM_PROMPT)
)

print("‚úì Created SQL agent with create_agent")

# ============================================================================
# STEP 6: QUERY FUNCTIONS (matching your style)
# ============================================================================

def ask_sql(question: str):
    """Ask the SQL agent a question using the full workflow."""
    print(f"\n{'='*60}")
    print(f"SQL AGENT - Question: {question}")
    print('='*60)
    
    for event in sql_agent.stream(
        {"messages": [{"role": "user", "content": question}]},
        stream_mode="values"
    ):
        msg = event["messages"][-1]
        
        # Show tool usage
        if hasattr(msg, 'tool_calls') and msg.tool_calls:
            for tc in msg.tool_calls:
                print(f"\nüîß Using: {tc['name']}")
                # Show args for key tools
                if tc['name'] in ['generate_sql_query', 'validate_sql_query', 'execute_sql_query', 'fix_sql_error']:
                    args_str = str(tc['args'])
                    if len(args_str) > 200:
                        args_str = args_str[:200] + "..."
                    print(f"Args: {args_str}")
        
        # Show final answer
        elif hasattr(msg, 'content') and msg.content:
            print(f"\nüí¨ Answer:\n{msg.content}")

# ============================================================================
# STEP 7: Chat SQL
# ============================================================================

def chat_sql():
    """Interactive SQL chat."""
    print("\nü§ñ SQL Agent Chat - Type 'quit' to exit")
    print("Ask questions about the employees database")
    print("The agent will use dedicated tools for each step of the workflow")
    
    while True:
        question = input("\nYour question: ").strip()
        if question.lower() in ['quit', 'exit', 'q']:
            break
        if question:
            ask_sql(question)

# Run basic tests
question = "How many tables are in the database?"
question = "How many employees are there in each department?"
question = "List the top 5 highest paid employees."
question = "What is the average salary by department?"

ask_sql(question)

# # Start interactive chat
# chat_sql()

Setting up employees database...
‚úì Database connected successfully
‚úì Found 6 tables: departments, dept_emp, dept_manager, employees, salaries, titles
‚úì Connected to employees database
‚úì Initialized Ollama chat model
‚úì Created all SQL workflow tools
‚úì Created SQL agent with create_agent

============================================================
SQL AGENT - Question: What is the average salary by department?
============================================================

üí¨ Answer:
What is the average salary by department?

üîß Using: generate_sql_query
Args: {'question': 'What is the average salary by department?', 'schema_info': 'departments: dept_no, dept_name; dept_emp: emp_no, dept_no, from_date, to_date; salaries: emp_no, salary, from_date, to_date; ...
üîß Generating SQL for: What is the average salary by department?...
‚úì Generated SQL query

üí¨ Answer:
<think>
Okay, let's see. The user wants the average salary by department. So I need to calculate the average salary for each department.

First, I remember that the salaries table has the salary column, and the employees table has emp_no. But to link departments, I need to connect through the dept_emp table. Because dept_emp has emp_no and dept_no, which connects employees to departments.

So the plan is: join the salaries table with dept_emp on emp_no, then join with departments on dept_no. Then group by department and calculate the average salary.

Wait, but the departments table has dept_no and dept_name. So the final result should include the department name, maybe. But the question says "average salary by department"‚Äîprobably they want the department name and the average salary.

But the user's schema shows that the departments table has dept_no and dept_name. So I need to include dept_name in the SELECT clause. But the question says to include only existing columns and tables. So I can use dept_name from departments.

So the steps are:

1. Join salaries with dept_emp on emp_no.
2. Then join that result with departments on dept_no.
3. Group by dept_no and dept_name to get the average salary per department.
4. Use AVG(salary) as the average.
5. Maybe order by dept_name or dept_no? The user didn't specify, but the rules say to add ORDER BY if needed. Since the question doesn't specify, maybe it's optional. But to make it more structured, perhaps include ORDER BY dept_name.

Wait, the user's rules say to add appropriate clauses. Since the question is about average salary by department, ordering might be helpful. But the user might not require it. However, the rules don't say to include ORDER BY unless needed. Hmm. The original question doesn't specify ordering, so maybe it's not necessary. But maybe the user expects it. Let me check the rules again: "Add appropriate WHERE, GROUP BY, ORDER BY clauses as needed." So if it's needed, add it. Since the question doesn't specify, perhaps it's not required. But maybe the user wants the results ordered. Well, maybe it's safer to include ORDER BY dept_name to have a sorted output.

Also, the user says to limit to 10 rows unless specified. The question doesn't mention limiting, so maybe not. But the rules say to limit to 10 unless specified otherwise. Since the question doesn't say to limit, we shouldn't add LIMIT. Unless the user wants it. Wait, the original question says "Limit results to 10 rows unless specified otherwise." So unless the question says to limit, we don't. So in this case, no LIMIT.

Now, the SQL query:

SELECT departments.dept_name, AVG(salaries.salary) AS avg_salary
FROM salaries
JOIN dept_emp ON salaries.emp_no = dept_emp.emp_no
JOIN departments ON dept_emp.dept_no = departments.dept_no
GROUP BY departments.dept_no, departments.dept_name
ORDER BY departments.dept_name;

Wait, but the user's rules say to use only existing columns and tables. So the columns dept_name and salary are present. Also, the tables are all there.

But wait, the salaries table has from_date and to_date. But the question is about average salary, so we need to consider the current salary? Or all salaries? The problem says "average salary by department"‚Äîprobably the average of all salaries ever recorded, but maybe we need to consider the current salary. However, the question doesn't specify, so perhaps we should take all salaries. But the user's schema includes from_date and to_date. However, the problem doesn't mention filtering by date, so we can ignore those dates. So the query as above would work.

But wait, maybe the salaries are for specific periods. However, the question doesn't specify, so the answer should include all salaries. Therefore, the query is correct.

Another thing: the dept_emp table has emp_no and dept_no, but the salaries are linked via emp_no. So joining salaries with dept_emp on emp_no is correct. Then joining with departments on dept_no.

Yes. So the final query should be as above. Let me check the syntax for SQLite. SQLite uses JOINs, so that's okay. Also, the GROUP BY needs to include both dept_no and dept_name, since dept_name might not be unique (though in reality, dept_no is the primary key). But in SQLite, if you group by dept_no, and select dept_name, it's allowed if dept_name is functionally dependent on dept_no. However, to be safe, include both in GROUP BY. So the query is correct.
</think>

SELECT departments.dept_name, AVG(salaries.salary) AS avg_salary
FROM salaries
JOIN dept_emp ON salaries.emp_no = dept_emp.emp_no
JOIN departments ON dept_emp.dept_no = departments.dept_no
GROUP BY departments.dept_no, departments.dept_name
ORDER BY departments.dept_name;

üîß Using: validate_sql_query
Args: {'query': 'SELECT departments.dept_name, AVG(salaries.salary) AS avg_salary\nFROM salaries\nJOIN dept_emp ON salaries.emp_no = dept_emp.emp_no\nJOIN departments ON dept_emp.dept_no = departments.dept_...
üîç Validating SQL: SELECT departments.dept_name, AVG(salaries.salary) AS avg_salary
FROM salaries
JOIN dept_emp ON sala...
‚úì Query validation passed

üí¨ Answer:
Valid: SELECT departments.dept_name, AVG(salaries.salary) AS avg_salary
FROM salaries
JOIN dept_emp ON salaries.emp_no = dept_emp.emp_no
JOIN departments ON dept_emp.dept_no = departments.dept_no
GROUP BY departments.dept_no, departments.dept_name
ORDER BY departments.dept_name

üîß Using: execute_sql_query
Args: {'query': 'SELECT departments.dept_name, AVG(salaries.salary) AS avg_salary\nFROM salaries\nJOIN dept_emp ON salaries.emp_no = dept_emp.emp_no\nJOIN departments ON dept_emp.dept_no = departments.dept_...
üöÄ Executing SQL: SELECT departments.dept_name, AVG(salaries.salary) AS avg_salary
FROM salaries
JOIN dept_emp ON sala...
‚úì Query executed successfully

üí¨ Answer:
Query Results:
[('Customer Service', 58770.36647976248), ('Development', 59478.90116243182), ('Finance', 70489.36489699609), ('Human Resources', 55574.87936969553), ('Marketing', 71913.20000419153), ('Production', 59605.482461651445), ('Quality Management', 57251.27191341599), ('Research', 59665.1817012686), ('Sales', 80667.60575533769)]

üí¨ Answer:
<think>
Okay, let me process the results. The user asked for the average salary by department. The query joined the salaries, dept_emp, and departments tables, then grouped by department to calculate the average.

Looking at the results, each department has an average salary. For example, Customer Service has an average of around $58,770, Development is about $59,479, and so on. The highest average is in Sales at approximately $80,668, while the lowest is in Human Resources at around $55,575.

I need to present this information clearly. The user probably wants a summary of each department's average salary. I should list them in order, maybe mention the highest and lowest, and ensure the numbers are formatted correctly. Also, since the query ordered by department name, the results are already sorted, which is helpful for readability.

I should check if there are any departments with no employees, but the query didn't include them since it's joining on dept_emp. The user might not need that, but if they do, it's a consideration for future queries. For now, the answer should focus on the provided data.
</think>

The average salary by department is as follows:

- **Customer Service**: $58,770.37
- **Development**: $59,478.90
- **Finance**: $70,489.36
- **Human Resources**: $55,574.88
- **Marketing**: $71,913.20
- **Production**: $59,605.48
- **Quality Management**: $57,251.27
- **Research**: $59,665.18
- **Sales**: $80,667.61

The **Sales** department has the highest average salary, while **Human Resources** has the lowest. Let me know if you'd like further analysis!